/* All the CSS code goes down here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-section {
    background-color: #1f2937;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left,
.navbar-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    margin: 12px;
}

.main-content {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.main-content-left,
.main-content-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-content-left {
    margin-left: 400px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 300px;
}

.para-one {
    font-size: 18px;
    color: #e5e7eb;
    width: 400px;
    margin-bottom: 20px;
}

img {
    margin-bottom: 150px;
}

.btn-one {
    background-color: #3882f6;
    color: #f9faf8;
    width: 150px;
    height: 50px;
    border: 1px solid #3882f6;
    border-radius: 10px;
    font-size: 18px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 50px 0;
}

.blue-boxes-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 100px;
}

.blue-box {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 12px;
}

.para-two {
    width: 150px;
    text-align: center;
    margin-top: 10px;
}